/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* BEGIN CUSTOM STYLES */

@font-face {
    font-family: Raleway;
    src: url(font/Raleway-Medium.ttf);
}

body, html {
  font-family: Raleway;
  margin: 0;
}


aside {
  background-color: #222;
  bottom: 0;
  box-sizing: border-box;
  box-shadow: 1px 0 1px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
  overflow: scroll;
  position: absolute;
  top: 0;
  width: 80px;
  z-index: 1;
}

main {
  align-items: flex-start;;
  background-color: #888;
  bottom: 0;
  display: flex;
  height: 100%;
  justify-content: flex-start;
  left: 80px;
  overflow: scroll;
  position: absolute;
  right: 0;
  top: 0;
}

h1 {
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
}

h3 {
  color: #AAA;
  font-size: 10px;
  padding: 15px 0  7px 0;
  text-align: center;
}

header {
  align-items: center;
  background-color: #EF382B;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: center;
}

.logo {
  height: 40px;
  width: 40px;

}

.artBoard {
  box-shadow: 2px 2px 10px #333;
  background-color: #333;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  height: 20px;
}

.borders .row {
  border-bottom: 1px solid #222;
}

.row div {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  user-drag: none;
  user-select: none;
}

.row div:hover {
  background-color: #888 !important;
}

.borders div:not(.row) {
  border-right: 1px solid #222;
  box-sizing: border-box;
}

button {
  background: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  border: none;
  display: block;
  padding: 0;
  height: 50px;
  width: 100%;
}

input {
  visibility: collapse;
}

button:focus {
  border: none;
  outline: none;
}

button:hover, header:hover {
  background-color: #333;
  opacity: .5;
  box-shadow: inset 0 0 3px 1px rgba(10, 10, 10, .25);
}

.selected {
  background-color: #555;
  box-shadow: inset 0 0 3px 1px rgba(10, 10, 10, .25);
}

.selected:hover {
  background-color: #555;
}

svg {
  fill: white;
}

#colorTool {
  background-image: url(ico/colors.svg);
}

#eraseTool {
  background-image: url(ico/eraser.svg);
}

#fillTool {
  background-image: url(ico/fill.svg);
}

#drawTool {
  background-image: url(ico/draw.svg);
}

#eyedropperTool {
  background-image: url(ico/eyedropper.svg);
}

#gridToggle {
  background-image: url(ico/grid-off.svg);
}

#gridToggle.off {
  background-image: url(ico/grid.svg);
}

#recentColors {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
}

#recentColors li {
  border-radius: 3px;
  height: 30px;
  margin: 10px 0;
  width: 30px;
}

#recentColors li:nth-child(2) {
  background-image: url(ico/no-color.svg);
  background-size: cover;
}
